@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* COLORS */

  --color-dark-bg: #20212c;
  --color-light-bg: #f4f7fd;
  --color-dark-grey: #2b2c37;
  --color-medium-grey: #828fa3;
  --color-line-dark: #3e3f4e;
  --color-line-light: #e4ebfa;
  --color-black: #000112;
  --color-white: #ffffff;
  --color-main-purple: #635fc7;
  --color-main-purple-hover: #a8a4ff;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;

  /* TYPOGRAPHY */
  --font-family-main: "Plus Jakarta Sans", sans-serif;

  --font-weight-bold: 700;
  --font-weight-medium: 500;

  --font-size-xl: 24;
  --line-height-xl: 30px;

  --font-size-l: 18px;
  --line-height-l: 23px;

  --font-size-m: 15px;
  --line-height-m: 16px;

  --font-size-s: 12px;
  --line-height-s: 15px;
  --letter-spacing-s: 2.4px;

  --font-size-b-l: 13px;
  --line-height-b-l: 23px;

  --font-size-b-m: 12px;
  --line-height-b-m: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-main);
  text-align: center;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

/* HELPER */
.board-selected {
  background-color: var(--color-main-purple);
  color: var(--color-white);
}

.hide {
  display: none;
}

/* STYLES */

#createBoard {
  color: var(--color-main-purple);
}

#createBoardIcon {
  fill: var(--color-main-purple);
}