@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* COLORS */

  --color-dark-bg: #20212c;
  --color-light-bg: #f4f7fd;
  --color-dark-grey: #2b2c37;
  --color-medium-grey: #828fa3;
  --color-line-dark: #3e3f4e;
  --color-line-light: #e4ebfa;
  --color-black: #000112;
  --color-white: #ffffff;
  --color-main-purple: #635fc7;
  --color-main-purple-hover: #a8a4ff;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;

  /* TYPOGRAPHY */
  --font-family-main: "Plus Jakarta Sans", sans-serif;

  --font-weight-bold: 700;
  --font-weight-medium: 500;

  --font-size-xl: 24;
  --line-height-xl: 30px;

  --font-size-l: 18px;
  --line-height-l: 23px;

  --font-size-m: 15px;
  --line-height-m: 16px;

  --font-size-s: 12px;
  --line-height-s: 15px;
  --letter-spacing-s: 2.4px;

  --font-size-b-l: 13px;
  --line-height-b-l: 23px;

  --font-size-b-m: 12px;
  --line-height-b-m: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-main);
  text-align: center;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

/* HELPER */
.board-selected {
  background-color: var(--color-main-purple);
  color: var(--color-white);
}

.hide {
  display: none;
}

/* COMPONENT */
.light-dark {
  background-color: var(--color-dark-bg);

  display: flex;
  justify-content: center;
  gap: 24px;
  width: 235px;
  margin: 15px 13px 0 16px;
  padding: 14px 0;
  border-radius: 8px;
}

.light-dark img {
  width: 18px;
  height: 18px;
}

.light-dark-toggle {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--color-main-purple);
  border-radius: 10px;
  padding: 0 3px;
}

.light-dark-toggle-ball {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 0 0px var(--color-black);
}

/* STYLES */

#createBoard {
  color: var(--color-main-purple);
}

#createBoardIcon {
  fill: var(--color-main-purple);
}

.board-selected .board-icon{
  fill: white;
}

.dark_theme {
  background-color: var(--color-dark-bg);
}

.light_theme {
  background-color: var(--color-light-bg);
}

.header__mobile {
  background-color: var(--color-dark-grey);
}

.mobile_logo {
  width: 24px;
  height: 24px;
}
.header__mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;
}

.header__mobile_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__mobile_board_title,
.header__mobile_right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__mobile_board_title {
  color: var(--color-white);
  font-size: var(--font-size-l);
  cursor: pointer;
}

.header__mobile_right {
  gap: 1rem;
}

.inactive {
  opacity: .5;
}

.header__mobile_right_add {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;

  background-color: var(--color-main-purple);
  padding: 10px 18px;
  border-radius: 16px;
  border: none;
}

.mobile-board-selection {
  display: none;
  /* display: inline-block;  */
  width: 240px;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;

  background-color: var(--color-dark-grey);

  padding: 16px 0;
  border-radius: 8px;

  box-shadow: 0 10px 20px 0 #364e7e28;
  z-index: 2;
}

.mobile-board-selection {
  padding-right: 24px;
  width: 264px;
}

.mobile-boards-amount {
  text-align: left;
  padding-left: 24px;
  margin-bottom: 19px;
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: bold;

  color: var(--color-medium-grey);
}

.mobile-boards {
  display: flex;
  flex-direction: column;
  gap: 2px;

  font-size: 15px;
  font-weight: bold;
  color: var(--color-medium-grey);
}

.mobile-board, .mobile-board-new{
  display: flex;
  align-items: center;
  gap:12px;
  padding: 14px 0;
  padding-left: 24px;

  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;

  overflow: scroll;
 }

 .container-mobile--empty {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
 }
 .container-mobile--empty h3{
  font-size: var(--font-size-l);
  font-weight: bold;
  color: var(--color-medium-grey);
}

 .btnPrimary {
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-main-purple);
  padding: 15px 17px;
  border: none;
  border-radius: 24px;
  max-width: 174px;
 }

.shadowBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-dark-bg);
  opacity: .8;
  z-index: 1;
  display: none;
}

.container-populated {
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
  top: 88px;
  left: 0;
  width: 100%;

  display: flex;
  gap: 24px;
  overflow-x: scroll;
}

.column {
  max-height: calc(100% - 64px);
}

.column-title {

  display: flex;
  align-items: center;

  gap: 12px;

  font-size: var(--font-size-s);
  font-weight: bold;
  color: var(--color-medium-grey);
  letter-spacing: 2.4px;

  text-align: start;

  margin-bottom: 24px;
}

.column-color {
  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.tasks {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.task {
  padding: 23px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;

  background-color: var(--color-dark-grey);
  border-radius: 8px;

  box-shadow: 0 4px 10px 0 #364e7e28;

  width: 280px;
}

.task-title {
  font-size: var(--font-size-m);
  font-weight: bold;
  color: var(--color-white);
}

.task-progress {
  color: var(--color-medium-grey);
  font-size: var(--font-size-b-m);
  font-weight: bold;
}
